<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sagar Krishna</title>
    <style>
        body {
            text-align: center;
            background-color: black; /* Set a background color if you like */
        }

        h1 {
            font-size: 3em; /* Adjust the font size as needed */
            color: lime; /* Set the color of your name */
        }
    </style>
</head>
<body>
    <h1>Sagar Krishna Royal</h1>
</body>
</html>
